<div>
    <form method="post" action="/aluno/salvar">
        <fieldset>
            <legend>CADASTRO DE ALUNOS</legend>
            <label>NOME</label>
            <input type="text" name="nome" required>
            <label>TELEFONE</label>
            <input type="text" name="telefone" required>
            <label>EMAIL</label>
            <input type="text" name="email" required>
            <label>NOTA</label>
            <input type="text" name="nota" required>
            <button type="submit">Salvar</button>
        </fieldset>
    </form>
</div>